In [1]:
import numpy as np
import pandas as pd

In [5]:
df = pd.read_csv('data.csv')

In [15]:
df.drop(df.columns[df.columns.str.contains('unnamed',case = False)],axis = 1, inplace = True)

In [16]:
df

         x
0   580.38
1   581.86
2   580.97
3   580.80
4   579.79
..     ...
93  578.52
94  579.74
95  579.31
96  579.89
97  579.96

[98 rows x 1 columns]

# create data for AR($p$) in Dickey-Fuller test

In [137]:
def xyArray(df, p):
    dt = df.copy()
    X = np.ones((dt.shape[0] - p - 2 + 1, 1))
    X = np.concatenate([X, dt[p:-1]], axis=1)
    for i in range(1, p+1):
        X = np.concatenate([X, dt[p-i+1:-i].to_numpy() - dt[p-i:-i-1].to_numpy()], axis=1)
    y = dt[p+1:].to_numpy() - dt[p:-1].to_numpy()
    # print(y)
    return X, y

In [157]:
def AR(df, p):
    X,y = xyArray(df, p)
    beta = np.linalg.inv(X.T@X)@X.T@y
    S = np.sum((y - X@beta)**2)
    xbar = df[p:].to_numpy().mean()
    e = np.sum((df[:-1].to_numpy() - xbar)**2)
    return beta, np.sqrt(S*e) / (df.shape[0] - 3)

In [158]:
a = AR(df, 1)

In [159]:
a[1]

0.8997734611130009